
.widget {
	float: left;
	margin: 5px;
}

#lcd_screen {
	width:       300px;
	height:      20px;
	padding:     5px;
	overflow:    hidden;
	float:       left;
	margin:      7px;
	white-space: nowrap;
}

#control_panel {
	margin-top:       10px;
	height:           50px;
	overflow:         hidden;
	background-color: #ccc;
}

button {
	margin: 5px;
}

#ytplayer, #black_screen {
	width:            720px;
	height:           450px;
	color:            #888;
	background-color: black;
	text-align:       center;
	top:              45%;
	position:         relative;
	border: 1px black solid;
}

#black_screen {
	position: absolute;
}

#ytplayer div, #black_screen div {
	top: 50%;
	position: relative;
	background-color: black;
}

