
.widget {
	float: left;
	margin: 5px;
}

#lcd_screen {
	width:       320px;
	height:      20px;
	padding:     5px;
	overflow:    hidden;
	float:       left;
	margin:      7px;
	white-space: nowrap;
}

#control_panel {
	margin-top:       10px;
	height:           50px;
	overflow:         hidden;
	background-color: #ccc;
}

button {
	margin: 5px;
}

#ytplayer_holder {
	width:  720px;
	height: 405px;
	background-color: green;
};

#ytplayer {
	width:      100%;
	height:     100%;
	color:      #888;
	background-color: black;
}

#blank_screen div {
	text-align: center;
	top:        45%;
	position:   relative;
	background-color: black;
}

#blank_screen {
	width:    720px;
	height:   405px;
	top:      38;
	left:     28;
	position: absolute;
	color:    #888;
	background-color: black;
}

