body {
	margin:     0px;
	background: black;
}

.widget {
	float: left;
	margin: 5px;
}

.tv-widget {
	height:     100%;
	width:      100%;
	background: black;
	margin:     0px;
	padding:    0px;
}

.tv-holder {
	margin: auto;
	padding: 40px;
}

#lcd_screen {
	width:       320px;
	height:      20px;
	padding:     5px;
	overflow:    hidden;
	float:       left;
	margin:      7px;
	white-space: nowrap;
	font-size:   16px;
	font-family: monospace;
}

#control_panel {
	margin:     auto;
	height:     50px;
	overflow:   hidden;
    max-width:  800px;
}

button {
	margin: 5px;
}

#ytplayer_holder {
	margin:     40px auto 40px auto;
	width:      800px;
	height:     450px;
	overflow:   hidden;
};

#ytplayer {
	width:      100%;
	height:     100%;
	color:      #888;
	margin:     20px auto 50px auto;
}

#blank_screen div {
	text-align: center;
	top:        325px;
	position:   relative;
	background: black;
	width:      200px;
	margin:     auto;
}

#blank_screen {
	width:      800px;
	height:     450px;
	top:        38;
	left:       28;
	position:   absolute;
	color:      #888;
	background: black url(tv.jpg) center no-repeat;
	display:    none;
}

